# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml
nginx.conf

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# IDEs and editors
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Other
.env
README.md
